[mgr]
  prepend_keymap = [
    #############
    ### SHELL ###
    #############
    # blocking shell
    { on = "!", run = 'shell "$SHELL" --block', desc = "Open $SHELL here", for = "unix" },
    # dragon-drop
    { on = "<C-n>", run = 'shell -- dragon-drop -x -i -T "$@"' },
    # yank
    { on = "y", run = [
      'shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list',
      "yank",
    ] },
    # sudoedit
    { on = [
      "R",
      "e",
    ], run = '''shell 'sudoedit "$@"' --block --confirm''', desc = "sudoedit" },
    # compose mail with attachment
    { on = "<C-m>", run = '''shell --
	paths=$(for p in "$@"; do echo "$p"; done | paste -s -d,)
	betterbird -compose "attachment='$paths'"
''' },
    ###############
    ### PLUGINS ###
    ###############
    # smart-enter
    { on = "l", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
    # smart-paste
    { on = "p", run = "plugin smart-paste", desc = "Paste into the hovered directory or CWD" },
    # jump-to-char
    { on = "f", run = "plugin jump-to-char", desc = "Jump to char" },
    # toggle-pane
    { on = [
      "T",
      "m",
    ], run = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane" },
    { on = [
      "T",
      "M",
    ], run = "plugin toggle-pane max-preview", desc = "Maximize or restore the preview pane" },
    # chmod
    { on = [
      "c",
      "m",
    ], run = "plugin chmod", desc = "Chmod on selected files" },
    # diff
    { on = [
      "g",
      "D",
    ], run = "plugin diff", desc = "Diff the selected with the hovered file" },
    # lazygit
    { on = [
      "g",
      "i",
    ], run = "plugin lazygit", desc = "run lazygit" },
    # recycle-bin
    { on = [
      "R",
      "b",
    ], run = "plugin recycle-bin", desc = "Open Recycle Bin menu" },
    # restore
    { on = "u", run = "plugin restore", desc = "Restore last deleted files/folders" },
    { on = "U", run = "plugin restore -- --interactive", desc = "Restore deleted files/folders (Interactive)" },
    # gvfs
    { on = [
      "M",
      "m",
    ], run = "plugin gvfs -- select-then-mount", desc = "Select device then mount" },
    { on = [
      "M",
      "R",
    ], run = "plugin gvfs -- remount-current-cwd-device", desc = "Remount device under cwd" },
    { on = [
      "M",
      "u",
    ], run = "plugin gvfs -- select-then-unmount --eject", desc = "Select device then eject" },
    { on = [
      "M",
      "U",
    ], run = "plugin gvfs -- select-then-unmount --eject --force", desc = "Select device then force to eject/unmount" },
    { on = [
      "M",
      "a",
    ], run = "plugin gvfs -- add-mount", desc = "Add a GVFS mount URI" },
    { on = [
      "M",
      "e",
    ], run = "plugin gvfs -- edit-mount", desc = "Edit a GVFS mount URI" },
    { on = [
      "M",
      "r",
    ], run = "plugin gvfs -- remove-mount", desc = "Remove a GVFS mount URI" },
    { on = [
      "g",
      "m",
    ], run = "plugin gvfs -- jump-to-device --automount", desc = "Automount then select device to jump to its mount point" },
    { on = [
      "`",
      "`",
    ], run = "plugin gvfs -- jump-back-prev-cwd", desc = "Jump back to the position before jumped to device" },
    # kdeconnect-send
    { on = [
      "<C-s>",
    ], run = "plugin kdeconnect-send", desc = "Send selected files via KDE Connect" },
    # ouch
    { on = [
      "C",
    ], run = "plugin ouch", desc = "Compress with ouch" },
    # wl-clipboard
    { on = "<C-y>", run = "plugin wl-clipboard", desc = "yank to system clipboard" },
    # copy-file-contents
    { on = "<A-y>", run = "plugin copy-file-contents", desk = "copy contents of file" },
    # open-with-cmd
    { on = "<C-o>", run = "plugin open-with-cmd -- block", desc = "Open with command in the terminal" },
    { on = "<A-o>", run = "plugin open-with-cmd", desc = "Open with command" },
    # what-size
    { on = [
      ".",
      "s",
    ], run = "plugin what-size", desc = "Calculate size of selection or cwd" },
    # modif
    { on = [
      "b",
      "m",
    ], run = "plugin modif 1w", desc = "Show files modified in the last week" },
  ]

[pick]
  prepend_keymap = [
    { on = "<C-y>", run = "close --submit", desc = "Submit the pick" },
    { on = "<C-e>", run = "close", desc = "Cancel pick" },
    { on = "<C-p>", run = "arrow prev", desc = "Previous option" },
    { on = "<C-n>", run = "arrow next", desc = "Next option" },
  ]

[cmp]
  prepend_keymap = [
    { on = "<C-y>", run = "close --submit", desc = "Submit the completion" },
    { on = "<C-e>", run = "close", desc = "Cancel completion" },
  ]
