[mgr]
  prepend_keymap = [
    { on = "!", for = "unix", run = 'shell "$SHELL" --block', desc = "Open $SHELL here" },
    { on = "l", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
    { on = "p", run = "plugin smart-paste", desc = "Paste into the hovered directory or CWD" },
    # https://github.com/sxyazi/yazi/discussions/327
    { on = "<C-n>", run = 'shell -- dragon-drop -x -i -T "$@"' },
    { on = "y", run = [
      'shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list',
      "yank",
    ] },
    { on = [
      "f",
    ], run = "plugin jump-to-char", desc = "Jump to char" },
    { on = [
      "T",
      "m",
    ], run = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane" },
    { on = [
      "T",
      "M",
    ], run = "plugin toggle-pane max-preview", desc = "Maximize or restore the preview pane" },
    { on = "<C-m>", run = '''shell --
	paths=$(for p in "$@"; do echo "$p"; done | paste -s -d,)
	betterbird -compose "attachment='$paths'"
''' },
    { on = [
      "c",
      "m",
    ], run = "plugin chmod", desc = "Chmod on selected files" },
    { on = [
      "g",
      "D",
    ], run = "plugin diff", desc = "Diff the selected with the hovered file" },
    { on = [
      "g",
      "i",
    ], run = "plugin lazygit", desc = "run lazygit" },
    { on = [
      "R",
      "b",
    ], run = "plugin recycle-bin", desc = "Open Recycle Bin menu" },
    { on = "u", run = "plugin restore", desc = "Restore last deleted files/folders" },
    { on = "U", run = "plugin restore -- --interactive", desc = "Restore deleted files/folders (Interactive)" },
    { on = [
      "M",
      "m",
    ], run = "plugin gvfs -- select-then-mount", desc = "Select device then mount" },
    { on = [
      "M",
      "R",
    ], run = "plugin gvfs -- remount-current-cwd-device", desc = "Remount device under cwd" },
    { on = [
      "M",
      "u",
    ], run = "plugin gvfs -- select-then-unmount --eject", desc = "Select device then eject" },
    { on = [
      "M",
      "U",
    ], run = "plugin gvfs -- select-then-unmount --eject --force", desc = "Select device then force to eject/unmount" },
    { on = [
      "M",
      "a",
    ], run = "plugin gvfs -- add-mount", desc = "Add a GVFS mount URI" },
    { on = [
      "M",
      "e",
    ], run = "plugin gvfs -- edit-mount", desc = "Edit a GVFS mount URI" },
    { on = [
      "M",
      "r",
    ], run = "plugin gvfs -- remove-mount", desc = "Remove a GVFS mount URI" },
    { on = [
      "g",
      "m",
    ], run = "plugin gvfs -- jump-to-device --automount", desc = "Automount then select device to jump to its mount point" },
    { on = [
      "`",
      "`",
    ], run = "plugin gvfs -- jump-back-prev-cwd", desc = "Jump back to the position before jumped to device" },
    { on = [
      "<C-s>",
    ], run = "plugin kdeconnect-send", desc = "Send selected files via KDE Connect" },
    { on = [
      "C",
    ], run = "plugin ouch", desc = "Compress with ouch" },
    { on = [
      "R",
      "p",
      "p",
    ], run = "plugin sudo -- paste", desc = "sudo paste" },
    { on = [
      "R",
      "p",
      "l",
    ], run = "plugin sudo -- link", desc = "sudo link (absolute)" },
    { on = [
      "R",
      "p",
      "r",
    ], run = "plugin sudo -- link --relative", desc = "sudo link (relative)" },
    { on = [
      "R",
      "p",
      "L",
    ], run = "plugin sudo -- hardlink", desc = "sudo hardlink" },
    { on = [
      "R",
      "P",
    ], run = "plugin sudo -- paste --force", desc = "sudo paste (force)" },
    { on = [
      "R",
      "r",
    ], run = "plugin sudo -- rename", desc = "sudo rename" },
    { on = [
      "R",
      "a",
    ], run = "plugin sudo -- create", desc = "sudo create" },
    { on = [
      "R",
      "d",
    ], run = "plugin sudo -- remove", desc = "sudo trash" },
    { on = [
      "R",
      "D",
    ], run = "plugin sudo -- remove --permanently", desc = "sudo delete" },
    { on = [
      "R",
      "m",
    ], run = "plugin sudo -- chmod", desc = "sudo chmod" },
    { on = [
      "R",
      "e",
    ], run = '''shell 'sudoedit "$@"' --block --confirm''', desc = "sudoedit" },
  ]

[input]
  prepend_keymap = [{ on = "<Esc>", run = "close", desc = "Cancel input" }]
