[mgr]
  prepend_keymap = [
    { on = "!", for = "unix", run = 'shell "$SHELL" --block', desc = "Open $SHELL here" },
    { on = "l", run = "plugin smart-enter", desc = "Enter the child directory, or open the file" },
    { on = "p", run = "plugin smart-paste", desc = "Paste into the hovered directory or CWD" },
    # https://github.com/sxyazi/yazi/discussions/327
    { on = "<C-n>", run = 'shell -- dragon-drop -x -i -T "$@"' },
    { on = "y", run = [
      'shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list',
      "yank",
    ] },
    { on = [
      "f",
    ], run = "plugin jump-to-char", desc = "Jump to char" },
    { on = [
      "T",
      "m",
    ], run = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane" },
    { on = [
      "T",
      "M",
    ], run = "plugin toggle-pane max-preview", desc = "Maximize or restore the preview pane" },
    { on = "<C-m>", run = '''shell --
	paths=$(for p in "$@"; do echo "$p"; done | paste -s -d,)
	betterbird -compose "attachment='$paths'"
''' },
    { on = [
      "c",
      "m",
    ], run = "plugin chmod", desc = "Chmod on selected files" },
    { on = [
      "g",
      "D",
    ], run = "plugin diff", desc = "Diff the selected with the hovered file" },
    { on = [
      "g",
      "i",
    ], run = "plugin lazygit", desc = "run lazygit" },
    { on = [
      "R",
      "b",
    ], run = "plugin recycle-bin", desc = "Open Recycle Bin menu" },
    { on = "u", run = "plugin restore", desc = "Restore last deleted files/folders" },
    { on = "U", run = "plugin restore -- --interactive", desc = "Restore deleted files/folders (Interactive)" },
    # gvfs:
    # Mount
    { on = [
      "M",
      "m",
    ], run = "plugin gvfs -- select-then-mount", desc = "Select device then mount" },
    # This will remount device under current working directory (cwd)
    #   -> cwd = /run/user/1000/gvfs/DEVICE_1/FOLDER_A
    #   -> device mountpoint = /run/user/1000/gvfs/DEVICE_1
    #   -> remount this DEVICE_1 if needed
    { on = [
      "M",
      "R",
    ], run = "plugin gvfs -- remount-current-cwd-device", desc = "Remount device under cwd" },
    # Unmount and eject device.
    #   -> Ejected device can safely be removed.
    #   -> Ejecting a device will unmount all paritions/volumes under it.
    #   -> Fallback to normal unmount if not supported by device.
    { on = [
      "M",
      "u",
    ], run = "plugin gvfs -- select-then-unmount --eject", desc = "Select device then eject" },
    # Also support force unmount/eject.
    #   -> Ignore outstanding file operations when unmounting or ejecting
    { on = [
      "M",
      "U",
    ], run = "plugin gvfs -- select-then-unmount --eject --force", desc = "Select device then force to eject/unmount" },
    # Add Scheme/Mount URI:
    #   -> Available schemes: mtp, gphoto2, smb, sftp, ftp, nfs, dns-sd, dav, davs, dav+sd, davs+sd, afp, afc, sshfs
    #   -> Read more about the schemes here: https://wiki.gnome.org/Projects(2f)gvfs(2f)schemes.html
    #   -> Explain about the scheme:
    #       -> If it shows like this: {ftp,ftps,ftpis}://[user@]host[:port]
    #       -> Every value within [] is optional. For values within {}, you must choose exactly one. All others are required.
    #       -> Example: {ftp,ftps,ftpis}://[user@]host[:port] => ip and port: "ftp://myusername@192.168.1.2:9999" or domain: "ftps://myusername@github.com"
    #       -> More examples: smb://user@192.168.1.2/share, smb://WORKGROUP;user@192.168.1.2/share, sftp://user@192.168.1.2/, ftp://192.168.1.2/
    # !WARNING: - Scheme/Mount URI shouldn't contain password.
    #           - Google Drive, One drive are listed automatically via GNOME Online Accounts (GOA). Avoid adding them.
    #           - MTP, GPhoto2, AFC, Hard disk/drive, fstab with x-gvfs-show are listed automatically. Avoid adding them.
    #           - ssh:// is alias for sftp://. Both don't support [/share]. Everything will still work if you accidentally add it.
    #             -> {sftp,ssh}://[user@]host[:port]. Host can be Host alias in .ssh/config file, ip or domain.
    #             -> For example (home is Host alias in .ssh/config file: Host home):
    #                  -> ssh://user_name@home/home/user_name -> this won't mount subfolder /home/user_name, but the root path /
    #                  -> sftp://user_name@192.168.1.2/home/user_name -> same as above
    { on = [
      "M",
      "a",
    ], run = "plugin gvfs -- add-mount", desc = "Add a GVFS mount URI" },
    # Edit a Scheme/Mount URI
    #   -> Will clear saved passwords for that mount URI.
    { on = [
      "M",
      "e",
    ], run = "plugin gvfs -- edit-mount", desc = "Edit a GVFS mount URI" },
    # Remove a Scheme/Mount URI
    #   -> Will clear saved passwords for that mount URI.
    { on = [
      "M",
      "r",
    ], run = "plugin gvfs -- remove-mount", desc = "Remove a GVFS mount URI" },
    # Jump
    # If you use `x-systemd.automount` in /etc/fstab or manually added automount unit,
    # then you can use `--automount` argument to auto mount device before jump.
    # Otherwise it won't show up in the jump list.
    { on = [
      "g",
      "m",
    ], run = "plugin gvfs -- jump-to-device --automount", desc = "Automount then select device to jump to its mount point" },
    { on = [
      "`",
      "`",
    ], run = "plugin gvfs -- jump-back-prev-cwd", desc = "Jump back to the position before jumped to device" },
    { on = [
      "<C-s>",
    ], run = "plugin kdeconnect-send", desc = "Send selected files via KDE Connect" },
    { on = [
      "C",
    ], run = "plugin ouch", desc = "Compress with ouch" },
    { on = [
      "R",
      "p",
      "p",
    ], run = "plugin sudo -- paste", desc = "sudo paste" },
    { on = [
      "R",
      "p",
      "l",
    ], run = "plugin sudo -- link", desc = "sudo link (absolute)" },
    { on = [
      "R",
      "p",
      "r",
    ], run = "plugin sudo -- link --relative", desc = "sudo link (relative)" },
    { on = [
      "R",
      "p",
      "L",
    ], run = "plugin sudo -- hardlink", desc = "sudo hardlink" },
    { on = [
      "R",
      "P",
    ], run = "plugin sudo -- paste --force", desc = "sudo paste (force)" },
    { on = [
      "R",
      "r",
    ], run = "plugin sudo -- rename", desc = "sudo rename" },
    { on = [
      "R",
      "a",
    ], run = "plugin sudo -- create", desc = "sudo create" },
    { on = [
      "R",
      "d",
    ], run = "plugin sudo -- remove", desc = "sudo trash" },
    { on = [
      "R",
      "D",
    ], run = "plugin sudo -- remove --permanently", desc = "sudo delete" },
    { on = [
      "R",
      "m",
    ], run = "plugin sudo -- chmod", desc = "sudo chmod" },
    { on = [
      "R",
      "e",
    ], run = '''shell 'sudoedit "$@"' --block --confirm''', desc = "sudoedit" },
  ]

[input]
  prepend_keymap = [{ on = "<Esc>", run = "close", desc = "Cancel input" }]
